.detail-wrapper {
    padding: 20px;
    max-width: 720px;
    z-index: 100001;
}
.detail-body {
    display: flex;
}
.order-img-wrapper {
    padding: 45px;
    border-radius: 8px;
    background-color: #c1e4d2;
    position: relative;
}
.sale-off {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-weight: 600;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 4px 8px;
    .sale-off-percent {
        color: white;
    }
}

.sale-off::before {
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    filter: brightness(60%);
}
.order-img {
    width: 100%;
    height: 100%;
}
.order-content-wrapper {
    max-height: 420px;
    overflow-y: auto;
    padding: 0 5px;
}
.order-name {
    font-size: 2.2rem;
    margin-bottom: 4px;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 1.2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden !important;
}
.order-info {
    font-size: 1.4rem;
}

.order-price-wrapper {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-price {
    text-decoration: line-through;
    margin-right: 4px;
}
.order-price-discounted {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--primary-color);
}
.order-quantity-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .order-minus,
    .order-add {
        font-size: 4rem;
        color: var(--primary-color);
        cursor: pointer;
    }
    .order-minus.disable {
        color: #e4e4e4;
        pointer-events: none;
    }
    .order-quantity {
        font-size: 1.8rem;
        margin: 0 15px;
    }
}
.order-title {
    color: #666;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 15px 0 4px;
    font-weight: 700;
}
.order-size-list {
    .order-size-item {
        color: #666;
        display: flex;
        input {
            margin-right: 5px;
        }
    }
}

.order-topping-item {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}
.order-topping-item + .order-topping-item {
    border-top: 1px solid var(--primary-color);
}
.order-topping-title {
    font-weight: 700;
}
.order-topping-check {
    display: flex;
}
.order-topping-price {
    margin-right: 10px;
}

.order-add-btn {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: white;
    background-color: var(--primary-color);
    padding: 10px 0px;
    font-weight: 700;
    border-radius: 4px;
    transition: 0.1s all ease-in-out;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
    .add-icon {
        margin-left: 4px;
    }
}
.detail-wrapper ::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
}
.detail-wrapper ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
}
.detail-wrapper ::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(82, 82, 82, 0.08);
}
