.order-item {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: 0.2s all ease-in-out;
    height: 100%;
    &:hover {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
    }
}

.order-img-wrapper {
    position: relative;
    padding: 45px;
    border-radius: 8px;
    background-color: #c1e4d2;
}
.order-img {
    width: 100%;
    height: 100%;
}
.order-name {
    margin: 15px 0;
    font-weight: 700;
    line-height: 1.2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden !important;
}
.order-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-price {
    font-weight: 800;
    color: var(--primary-color);
}
.order-add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: white;
    background-color: var(--primary-color);
    padding: 5px 10px;
    font-weight: 700;
    // height: 40px;
    // width: 40px;
    border-radius: 2px;
    .add-icon {
        margin-left: 4px;
    }
}
.sale-off {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-weight: 600;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 4px 8px;
    .sale-off-percent {
        color: white;
    }
}

.sale-off::before {
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    filter: brightness(60%);
}
