.wrapper {
    padding: 0 20px;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6rem;
    font-weight: 700;
    .title-icon {
        margin-right: 10px;
        height: 50px;
        object-fit: cover;
    }
}
.body {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.body-title {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
    border-bottom: 3px solid var(--primary-color);
    margin-bottom: 15px;
    width: max-content;
}
.delivery-section {
    margin-right: 20px;
    padding: 20px 24px;
    border: 1px solid #ccc;
    border-radius: 10px;
    .cart-list-wrapper {
        .cart-list {
            max-height: 160px;
            overflow-y: auto;
            background-color: #f4f4f4;
            padding: 5px 0px;
        }
        .cart-item {
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item-name {
                font-weight: 600;
            }
            .item-topping {
                font-size: 1.4rem;
            }
        }
    }
    .delivery-wrapper {
        margin-top: 20px;
        .info {
            padding: 12px 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .info-body {
                display: flex;
                align-items: center;
            }

            .info-icon {
                font-size: 3rem;
                color: var(--primary-color);
                flex-shrink: 0;
                margin-right: 10px;
            }
            .info-title {
                font-weight: 600;
                color: var(--primary-color);
            }
            .info-detail {
                font-size: 1.4rem;
            }
        }
        .info-actions {
            flex-shrink: 0;
            margin-left: 15px;
            color: var(--primary-color);
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }

        .delivery-company-img {
            margin-left: 1px;
            width: 40px;
            height: 18px;
            object-fit: cover;
        }
        .delivery-subtitle {
            padding: 5px 10px;
            span {
                margin-left: 5px;
                color: var(--primary-color);
                font-weight: 700;
            }
        }
    }
}
.qr-scan-wrapper {
    border-radius: 10px;
    background-color: var(--primary-color);
    padding: 20px 0;
    width: 50vw;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qr-scan-title {
    color: #fff;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 10px 0;
}
.qr-img-wrapper {
    margin: 15px 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}
.qr-img {
    width: 300px;
    object-fit: contain;
}
.qr-scan-subtitle {
    color: #fff;
    text-align: center;
    width: 320px;
    line-height: 1.3;
    font-size: 1.4rem;
    .icon {
        margin-right: 5px;
        font-size: 1.8rem;
    }
}
.actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    width: 320px;
    margin: 10px 0;
    .actions-back {
        color: #fff;
        transition: 0.1s all ease-in-out;
        &:hover {
            cursor: pointer;
            color: #000;
        }
    }
    .actions-paid {
        color: #27be70;
        transition: 0.1s all ease-in-out;
        &:hover {
            cursor: pointer;
            color: #000;
        }
    }
}
// Confirm modal
.confirm-wrapper {
    padding: 20px 30px;
}
.confirm-title {
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary-color);
    margin: 5px 0 20px;
    display: flex;
    align-items: center;
}
.confirm-actions {
    display: flex;
    justify-content: space-around;
}
