// Slider section
.slider-section {
    position: relative;
}
.slide-list {
    overflow: hidden;
    display: flex;
}
.slide {
    width: 100%;
    flex-shrink: 0;
    object-fit: contain;
    transition: all 400ms ease-in-out 0s;
}
.slide-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    input {
        margin: 0 4px;
        cursor: pointer;
    }
}
.left-slide-btn,
.right-slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px 5px;
    cursor: pointer;
    background-color: #54545482;
    color: rgb(213, 213, 213);
    line-height: 0;
    font-size: 3rem;
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}
.left-slide-btn {
    left: 2px;
}
.right-slide-btn {
    right: 2px;
}
